@font-face {
    font-family: newEdge666;
    src: url(assests/NewEdge666Test-RegularRounded.otf);
}

:root {
    --light-bg-color: #F1F1EA;
    --dark-bg-color: #3E3C3C;
    --light-section-color: #F5DDE1;
    --light-primary-font-color: #533826;
    --primary-font: newEdge666;
    --dark-primary-font-color: #E4E2DD;
    --secondary-font: Luxurious Script;
    --primary-font-size: 3.82vw;
    --heading-font-size: 7.63vw;
    --title-font-size: 8.91vw;
    --light-button-color: #D7A3AA;
    --light-contrast-font-color: #F5F5F5;
    --content-padding: 7.63vw;
    --light-search-bg: #F2ECE8;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--light-bg-color);
    font-family: var(--primary-font);
    color: var(--light-primary-font-color);
    font-size: var(--primary-font-size);
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    font-size: var(--heading-font-size);
    font-weight: normal;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg-color);
        color: var(--dark-primary-font-color);
    }
}

.special-title {
    font-family: var(--secondary-font);
}

.heading-text {
    font-size: var(--heading-font-size);
    margin: 0;
}

.body-wrapper {
    padding: var(--content-padding);
    display: flex;
    flex-direction: column;
}

main {
    margin-bottom: 10vw;
}

/* for small screens */
@media screen and (width < 500px) {
    .header-wrapper {
        display: flex;
        background-color: var(--light-section-color);
        flex-direction: column;
        padding-left: 0px;
    }

    .logo {
        padding: 40px 30px 10px;
    }


    .title-text {
        font-size: var(--title-font-size);
        line-height: 0.1px;
    }

    .recipe-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 52vw);
        column-gap: 5vw;

        overflow-x: scroll;
        scrollbar-width: none;

        margin: 5vw 0 10vw;
    }

    .recipe-card-small {
        height: 50.89vw;
        border: 1px solid var(--light-primary-font-color);
        border-radius: 10px;

        display: grid;
        grid-template-rows: 2fr auto;
    }

    .recipe-display-name {
        border-top: 1px solid var(--light-primary-font-color);
        padding: 5vw 0 0 3vw; 

        grid-row-start: 2;
    }

    .button {
        height: 2.66em;
        min-width: 8.6em;
        max-width: 9em;
        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: auto;

        background-color: var(--light-button-color);
        color: var(--light-contrast-font-color);
    }

    #home-search {
        display: grid;
        grid-template-rows: 1fr 1fr 2fr;
        align-items: center;
    }

    .special-title {
        font-size: 1.5em;
    }

    .h-scroll {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 5vw;

        overflow-x: scroll;
        scrollbar-width: none;
        margin-top: 4vw;
    }

    .search-bar {
        background-color: var(--light-search-bg);
        border: 1px solid var(--light-primary-font-color);
        border-radius: 99px;

        height: 10vw;
    }

    /* all recipes page */
    .special-title-header {
        font-size: 3em;
        margin: -4vw 0 0;

    }
    .recipe-stack {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        row-gap: 15vw;

        margin-top: 15vw;
    }

    .recipe-card-large {
        height: 65vw;
        border: 1px solid var(--light-primary-font-color);
        border-radius: 10px;

        display: grid;
        grid-template-rows: 2fr 1fr;
    }

    .recipe-display-name-large {
        border-top: 1px solid var(--light-primary-font-color);
        grid-row-start: 2;

        /* font-size: var(--heading-font-size); */
        letter-spacing: -7%;

        margin: 0;
        padding: 7vw 0 0 3vw;
    }
}

/* for medium screens */
@media screen and (500px < width < 1020px){
    
}

/* for large screens */
@media screen and (width >= 1020px) {

}