@font-face {
    font-family: newEdge666;
    src: url(assests/NewEdge666Test-RegularRounded.otf);
}

:root {
    --light-bg-color: #F1F1EA;
    --dark-bg-color: #3E3C3C;
    --light-section-color: #F5DDE1;
    --light-primary-font-color: #533826;
    --primary-font: newEdge666;
    --dark-primary-font-color: #E4E2DD;
    --secondary-font: Luxurious Script;
    --primary-font-size: 0.9rem;
    --heading-font-size: 1.5rem;
    --second-title-font-size: 3rem;
    --title-font-size: 2rem;
    --light-button-color: #D7A3AA;
    --light-contrast-font-color: #F5F5F5;
    --light-search-bg: #F2ECE8;
    --light-search-text-color: #99877B;

    /* put the transition times here too */
    /* for reduced motion query, set time to 0.1s */
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--light-bg-color);
    font-family: var(--primary-font);
    color: var(--light-primary-font-color);
    font-size: var(--primary-font-size);
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg-color);
        color: var(--dark-primary-font-color);
    }
}

.heading-text {
    font-size: var(--heading-font-size);
    margin: 0;
}

.special-title {
    font-family: var(--secondary-font);
    font-size: 100%;
}

header {
    background-color: var(--light-section-color);

    .header {
        --inline-padding: 1rem;
        container-type: inline-size;
        
    
        nav {
            padding: 1.5rem var(--inline-padding);

            display: grid;
            grid-template-columns: repeat(2, 1fr);
    
            @container (width > 760px) {
                --inline-padding: 2rem;
            }
    
            .logo {
                height: auto;
                width: auto;

                .sitename {
                    font-size: var(--primary-font-size);
                    margin-bottom: 0;
                }

                .title-text {
                    margin: 0;
                    font-weight: normal;
                    font-size: var(--title-font-size);
                }

                .special-title {
                    font-size: 120%;
                }
            }
    
            label {
                --dims: 10vw;

                height: var(--dims);
                width: var(--dims);
                justify-self: end;
                align-self: center;

                border: 1px solid;
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: transparent;
                border: 0;

                cursor: pointer;

                svg:last-child {
                    display: none;
                }
            }
    
            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                grid-column: span 2;

                position: fixed;

                height: 100dvh;
                width: 100%;

                background-color: var(--light-bg-color);

                top: 35vw; 
                left: 100%;

                transition: left 0.2s ease-in-out;
            

                li {
                    padding: 0;

                    a {
                        display: block;
                        border-bottom: 1px solid grey;
                        font-size: 150%;
                        padding: 1rem;
                        text-align: right;
                        text-decoration: none;
                        color: var(--light-primary-font-color);

                        transition: background-color 0.3s;
                    }
                }
            }
    
            input[type="checkbox"]:checked {
                & ~ ul { 
                    left: 0; 

                    transition: ease 0.2s; 
                }

                & ~ label {
                    svg:first-child {
                        display: none;
                    }
                    
                    svg:last-child {
                        display: block;
                    }
                }
            }
    
            @container (width > 1024px) {
                & > input, & > label {
                    display: none;
                }
    
                ul {
                    position: static;
                    display: flex;
                    grid-column: 2;
                    height: auto;
                    justify-content: flex-end;

                    background-color: transparent;
    
                    li {
                        a {
                            font-size: 100%;
                            border: 0;
                        }
                    }
                }
            }
        }
    }
}

.header-image {
    margin: 5vw 0 10vw;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: center;
    }
}

main {
    padding: 2rem 1rem;

    .recipe-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 52vw);
        column-gap: 5vw;

        overflow-x: scroll;
        scrollbar-width: none;

        margin: 5vw 0 10vw;

        a {
            text-decoration: none;
            color: var(--light-primary-font-color);
            cursor: pointer;
        }

        .recipe-card {
            height: 50.89vw;
            border: 1px solid var(--light-primary-font-color);
            border-radius: 10px;

            display: grid;
            grid-template-rows: 2fr 1fr;

            .recipe-image {
                width: 100%;
                height: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; 
                    object-position: center;

                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }
            }

            .recipe-display-name {
                border-top: 1px solid var(--light-primary-font-color);
                padding: 5vw 0 0 3vw; 
        
                grid-row-start: 2;
                margin-top: 0;
            }
        }
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .recipe-stack {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 15vw;

        a {
            text-decoration: none;
            color: var(--light-primary-font-color);
            cursor: pointer;
        }

        .recipe-card-large {
            height: 65vw;
            border: 1px solid var(--light-primary-font-color);
            border-radius: 10px;
    
            display: grid;
            grid-template-rows: 2fr 1fr;

            .recipe-image {
                width: 100%;
                height: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; 
                    object-position: center;

                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }
            }
        }
    
        .recipe-display-name-large {
            border-top: 1px solid var(--light-primary-font-color);
            grid-row-start: 2;
    
            font-size: var(--heading-font-size);
            letter-spacing: -7%;
    
            margin: 0;
            padding: 7vw 0 0 3vw;
        }
    }

    .recipe-holder {
        img {
            width: 100%;
            height: 50vw;

            object-fit: cover;
            object-position: center;
        }

        .ingredients {
            .ingredients-title {
                font-size: var(--second-title-font-size);
            }
            
        }
    }
}

.button {
    height: 2.66em;
    min-width: 8.6em;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;

    background-color: var(--light-button-color);
    color: var(--light-contrast-font-color);
    border: none;
}

.h-scroll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vw;

    overflow-x: scroll;
    scrollbar-width: none;
    margin-top: 4vw;
}

.search-bar {
    border: 1px solid var(--light-primary-font-color);
    border-radius: 99px;
    display: flex;
    align-items: center;

    height: 10vw;

    p {
        margin: 0.5rem 1rem 0.4rem;
        color: var(--light-search-text-color);
    }
}

aside {
    padding: 2rem 1rem;

    #all-recipes-desc {
        text-align: center;
        text-wrap: pretty;
        margin: -2rem 0 2rem 0;
    }

    #home-search {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;

        margin: 0 0 15vw 0;

        .special-title {
            font-size: 1.5em;
            font-style: normal;
        }

        #desktop-desc {
            display: none;
        }
        .desktop-img-wrapper {
            display: none;
            #desktop-img {
                display: none;
            }
        }
        
    }
}

footer {
    background-color: var(--light-section-color);

    .footer {
        --inline-padding: 1rem;
        container-type: inline-size;
    
        padding: 1.5rem var(--inline-padding);

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @container (width > 760px) {
            --inline-padding: 2rem;
        }
    }
}

@media (width > 500px) {
    .button {
        min-width: 15em;
        height: 3.5em
    }

    .heading-text {
        font-size: 2.8rem;
    }

    p {
        font-size: 150%;
        line-height: 1.3;
    }

    header {
        .header nav ul {
            top: 20vw;
        }
    }

    section {
        .header-image {
            height: 150px;
        }
    }

    .h-scroll {
        margin: 0 0 3rem 0;
    }

    main {
        padding: 2rem 3rem;
        .recipe-wrapper {
            grid-template-columns: repeat(4, 31vw);
            
            .recipe-card {
                height: 35vw;
                grid-template-rows: 3.5fr 1fr;

                .recipe-display-name {
                    font-size: 150%;
                    padding: 0 0 0 1rem;
                    margin: 0;
                    
                    display: flex;
                    align-items: center;
                }
            }
        }

        /* all recipes page */
        .recipe-stack {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 5rem 2rem;

            .recipe-card-large {
                height: 35vw;

                .recipe-display-name-large {
                    font-size: 150%;
                    padding: 0 0 0 1rem;
                    margin: 0;
                    
                    display: flex;
                    align-items: center;
                }
            }
        }
        
    }

    aside {
        padding: 2rem 3rem;

        #home-search {
            margin-bottom: 5rem;
            .search-bar {
                height: 7vw;
    
                p {
                    margin: 0.7rem 1.2rem 
                }
            }
        }
    }
}

@media (width > 1023px) {
    section {
        .header-image {
            margin-top: 1rem;
            height: 150px;
        }
    }
    p {
        font-size: 170%;
    }

    main {
        /* home screen */
        margin-top: -4rem;
        .recipe-wrapper {
            grid-template-columns: repeat(4, 20vw);
            margin-bottom: 5rem;
            
            .recipe-card {
                height: 24vw;

                .recipe-display-name {
                    display: flex;
                    align-items: center;
                    padding: 1rem 0 0 1rem;
                    margin: 0;
                }
            }
        }

        
    }
    aside {
        #home-search {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 6rem 10rem auto;
            column-gap: 3rem;
            align-items: start;

            margin: 10vw 0 15vw 0;

            .search-bar {
                height: 4vw;
                width: 45vw;
                grid-column: 1;
                grid-row: 3;
            }

            #desktop-desc {
                display: flex;
                grid-column: 1;
                grid-row: 2;
            }

            .desktop-img-wrapper {
                display: flex;
                width: 40vw;
                height: 35vw;
                overflow: hidden;
                margin-top: -6vw;

                grid-column: 2;
                grid-row-start: 1;
                grid-row-end: 3;
                

                border: 1px solid var(--light-primary-font-color);
                border-radius: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; 
                    object-position: center;
                }
            }
        }
    }
}